[init]
	defaultBranch = main
[user]
	email = khoabui.ld99@gmail.com
	name = whammou@arch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = nvim
