git:
  merging:
    manualCommit: true
  autoFetch: false
customCommands:
  - key: "<c-p>"
    description: "Push/Pull Submodules"
    commandMenu:
      - key: u
        command: git submodule -q foreach pwd | xargs -I{} --max-procs=$(git submodule -q foreach pwd | wc -l) git -C {} pull --no-edit --quiet
        context: "global"
        description: Pull include submodules
        loadingText: Pulling
      - key: U
        command: git submodule -q foreach pwd | xargs -I{} --max-procs=$(git submodule -q foreach pwd | wc -l) git -C {} push --quiet
        context: global
        description: Push include submodules
        loadingText: Pushing
  - key: F
    description: Fetch Submodules
    commandMenu:
      - key: s
        command: git submodule -q foreach pwd | xargs -I{} --max-procs=$(git submodule -q foreach pwd | wc -l) git -C {} fetch --verbose
        context: files
        description: Only Submodules
        loadingText: Fetching
      - key: i
        command: git fetch && git submodule -q foreach pwd | xargs -I{} --max-procs=$(git submodule -q foreach pwd | wc -l) git -C {} fetch --verbose
        context: files
        description: Include Submodules
        loadingText: Fetching
  - key: C
    context: files
    prompts:
      - type: input
        title: Commit summary
        key: commitMessage
        initialValue: ""
    command: git submodule -q foreach 'git diff --quiet || git commit -am "{{.Form.commitMessage}}"' && git submodule -q foreach git status
    output: log

gui:
  showBottomLine: false
  border: "single"
  nerdFontsVersion: "3"
  theme:
    unstagedChangesColor:
      - "#f65866"
    selectedLineBgColor:
      - "#2a324a"
    searchingActiveBorderColor:
      - "bold"
    optionsTextColor:
      - "#41a7fc"
    inactiveBorderColor:
      - "#455574"
    defaultFgColor:
      - "#93a4c3"
    cherryPickedCommitFgColor:
      - "#41a7fc"
    cherryPickedCommitBgColor:
      - "#f65866"
    activeBorderColor:
      - "bold"
