[Unit]
Description=system powerdown

[Service]
Type=oneshot
ExecStartPre=battery-start
ExecStart=/sbin/tlp bat
ExecStartPost=undervolt --verbose --core -121 --uncore -121 --cache -121 --gpu -100 --analogio -100

[Install]
WantedBy=battery.target
