listview {
  fixed-height: false;
  dynamic:      true;
  reverse:      false;
  scrollbar:    false;
  spacing:      0;
  padding:      8px 0;
}

element {
  border:     0 0 0 3px;
  border-color: @bg1;
  padding:    0 0 0 3px;
  children:   [element-text];
}

element selected {
  background-color: @bg-selected;
  text-color:       @fg;
  border:           0 0 0 3px;
  border-color:     @red;
}

element-text {
  padding:    3px 12px;
  highlight:  bold #e86671;
}

element-text selected {
  background-color: @bg-selected;
  text-color:       @fg;
  highlight:        bold #e86671;
}
