inputbar {
  spacing:          8px;
  padding:          0px 0px 1px 12px;
  background-color: @bg3;
  border:           0 0 0 4px;
  border-color:     @blue;
  children:         [prompt, entry];
}

prompt {
  font:             "HasklugNerdFont 13 bold";
  text-color:       @blue;
  background-color: @bg3;
  padding:          3px 6px;
}

entry {
  background-color: @bg3;
  padding:          3px;
  text-color:       @fg;
}