window {
  location:        north;
  width:           1912px;
  y-offset:        4px;
  padding:         0;
  border:          0;
  background-color: @bg;
}

mainbox {
  children: [inputbar, listview];
}