[Unit]
Description=system powerdown

[Service]
Type=oneshot
ExecStart=undervolt --verbose --core -121 --uncore -121 --cache -121 --gpu -100 --analogio -100

[Install]
WantedBy=battery.target
