[Unit]
Description=Reset cpu voltage
Before=hibernate.target suspend.target

[Service]
Type=oneshot
ExecStartPre=sleep 10
ExecStart=undervolt --core -121 --cache -121 --uncore -121 --gpu -100 --analogio -110

[Install]
WantedBy=hibernate.target suspend.target
