/* Apply background color to the entire body */
body {
  background-color: #1a212e !important;
  color: #93a4c3 !important;
  margin: 0;
  font-family: 'SauceCodeProNerdFont', sans-serif !important; /* Ensure this font is properly linked */
}

html {
  font-size: 16px; /* Default font size for the entire page */
}

body {
  font-size: 1.083rem !important; /* 1rem is equivalent to 16px */
}


/* Override background colors for common elements that may have their own background */
button, input, select {
  background-color: #1a212e !important;
  color: #6c7d9c !important;
  border: 1px solid #455574; /* Optional: make sure form elements are visible */
}

/* Optional: Fix for white backgrounds on certain elements */
* {
  background-color: transparent !important;
}


/*p, h1, h2, h3, h4, h5, h6, a, span, div, li {
  font-size: 1rem !important;
}

/* Override text color for various elements that may have their own color styles */
/* p, h1, h2, h3, h4, h5, h6, a, li, span, div, footer, header {
/*   color: #93a4c3 !important;
/* }

/* Ensure links (anchor tags) retain a default style */
/*a {
/*  color: #93a4c3 !important;
/*  text-decoration: none; /* Optional: removes underline from links */
/*}
/*
/*a:hover {
/*  color: #abc4e1 !important; /* Lighter shade for hover effect */
