[Desktop Entry]
Version=1.0
Name=Mpv-audio
Comment=Start mpv in audio mode
Terminal=true
Exec=mpv --no-video %U
Type=Application
MimeType=audio/vnd.wave
