[Desktop Entry]
Version=1.0
Name=Zaread
Comment=zaread is a package that converts office file to pdf and pipe to a pdf reader
Exec=zaread %U
Terminal=false
Type=Application
MimeType=application/vnd.oasis.opendocument.text
Categories=Viewer
