# yazi configs
[opener]
edit = [
    { run = 'nvim "$@"', block = true, for = 'unix' },
]
url_opener = [
    { run = 'open-url "$@"', block = false, for = 'unix' },
]
open = [
    { run = 'xdg-open "$@"' ,block = false, for = 'unix' },
]
mpv-audio = [
    { run = 'mpv --no-video "$@"' ,block = true, for = 'unix' }
]

[open]
prepend_rules = [
    { name = "*.url", use = 'url_opener' },
    { name = "*.html", use = 'open' },
    { name = "*.mp3", use = 'mpv-audio' }
]

[[plugin.prepend_previewers]]
name = "*/"
run  = 'piper -- eza -TL=2 --color=always --icons=always --group-directories-first --no-quotes "$1"'

[[plugin.append_previewers]]
name = "*"
run  = 'piper -- hexyl --border=none --terminal-width=$w "$1"'


# Disable preloaders and previewer for /server

[[plugin.prepend_fetchers]]
id   = "mime"
name = "*"
run  = "mime-ext"
prio = "high"

[[plugin.prepend_preloaders]]
name = "/run/user/1000/gvfs/smb-share:server=whamlab.sytes.net,share=homelab-nas/**"
run = "noop"

[[plugin.prepend_preloaders]]
name = "/home/whammou/documents/gdrive/**"
run = "noop"

[[plugin.prepend_preloaders]]
name = "/home/whammou/documents/mega/**"
run = "noop"

# Git change indicators
[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
